@height-metabar: 75px;
@trigger-height: 80px;
@trigger-width: 80px;
@trigger-border: 1px solid rgba(255, 255, 255, .2);
@height-metabar: 75px;
@slate-width: 400px;
@bg-sidebar: #4a4a4a;
@bg-sidebar-engaged: #fff;
@logo-height: 45px;
@logo-width: 45px;

// shadows
@shadow-color: #ccc;
@inner-top-shadow: inset 0 5px 9px -5px @shadow-color;
@shadow-right: 2px 2px 2px @shadow-color;

/* IE10+ not supported */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.il-layout-page {
		&:before {
			content: "Microsoft Internet Explorer is not supported in this ILIAS Version :("
		}
		header,
		footer,
		nav,
		main,
		.layout-page-content {
			display:none;
		}

	}
}


// mixins
.inner-top-shadow {
	box-shadow: @inner-top-shadow;
}

.shadow-right {
	box-shadow: @shadow-right;
}

/*
*********************
grid-based layout
*********************
*/

.il-layout-page {
	display: grid;
	grid-gap: 0px;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 75px 1fr 75px;
    grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer"; // not supported IE
    height: 100%; 
	width: 100%;
	&.with-engaged-slates {
		grid-template-columns: @slate-width + @trigger-width 1fr;
		transition: all .5s ease-in-out;
		.il-layout-page-sidebar {
			width: @slate-width + @trigger-width;
			// slate definitions
			.il-sidebar-slates {
				width: @slate-width;
				display: block;
				.il-maincontrol-menu-slate.engaged {
					display: flex;
					flex-flow: column;
				}
			}
		}
	}
}

/* Metabar */
header {
    align-items: center;
    background: #fff;
    display: flex;
	grid-area: header;
	height: @height-metabar;
	padding: 0 15px;
}

.il-layout-page-metabar {
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.il-logo {
	justify-self: start;
	img {
		height: @logo-height;
		width: @logo-width;
	}
}

.il-notification-center {
	display: flex;
	.il-notification-item {
		padding-left: 10px;
	}
}

/* Sidebar */
.il-layout-page-sidebar {
	background: #fff;
	display: flex;
	grid-area: sidebar;
	height: 100%;
	width: @trigger-width;
	.shadow-right;
	.il-sidebar-slates {
		display: none;
		height: 100%;
		.inner-top-shadow;
	}

	.il-sidebar-triggers {
		background: @bg-sidebar;
		height: 100%;
		position: relative; 
		width: @trigger-width;
		.btn-iconographic {
			align-items: center;
			background: @bg-sidebar;
			border: 0;
			border-bottom: @trigger-border;
			color: @bg-sidebar-engaged;
			display: flex;
			flex-flow: column wrap;
			font-size: 70%;
			height: @trigger-height;
			padding: 10px 0;
			width: 100%;
			&.engaged {
				background-color: @bg-sidebar-engaged;
				color: @bg-sidebar;
			}
			&:focus {
				outline: none;
			}
		}

		/*
		****************************************
		nth-child selector ist not usefull when 
		something changes in the sidebar.
		add an additional class/id for each item in 
		sidebar e.g btn-default.navigation
		****************************************
		*/

		.btn-iconographic:nth-child(1),
		.btn-iconographic.engaged:nth-child(1) {
			.inner-top-shadow;	
		}

		.btn-iconographic:nth-child(1) .icon {
			background-image: url('images/icon-sb-cockpit.svg');
		}

		.btn-iconographic:nth-child(2) .icon {
			background-image: url('images/icon-sb-navigation.svg');
		}

		.btn-iconographic:nth-child(3) .icon {
			background-image: url('images/icon-sb-search.svg');
		}

		.btn-iconographic:nth-child(4) .icon {
			background-image: url('images/icon-sb-help.svg');
		}

		.btn-iconographic:nth-child(5) .icon {
			background-image: url('images/icon-sb-more.svg');
		}

		.btn-iconographic.engaged:nth-child(1) .icon {
			background-image: url('images/icon-sb-cockpit-engaged.svg');	
		}

		.btn-iconographic.engaged:nth-child(2) .icon {
			background-image: url('images/icon-sb-navigation-engaged.svg');
		}

		.btn-iconographic.engaged:nth-child(3) .icon {
			background-image: url('images/icon-sb-search-engaged.svg');
		}

		.btn-iconographic.engaged:nth-child(4) .icon {
			background-image: url('images/icon-sb-help-engaged.svg');
		}

		.btn-iconographic.engaged:nth-child(5) .icon {
			background-image: url('images/icon-sb-more-engaged.svg');
		}

		.icon .abbreviation {
			display: none;
		}

		&.engaged {
			background: #fff;
		}
	}
}

/*
main-tag is important for screenreader 
fix due to main-tag is not supported in IE 
*/

/* Content */
main {
	display: block;
}

.il-layout-page-content {
	grid-area: content;
	padding: 20px;
	display: grid;
	.inner-top-shadow;
}

/* Footer */
footer {
	background-color: @brand-primary;
	grid-area: footer;
}
