
@triggerer_width: 70px;
@slate_width: 200px;

.il-layout-page {
	width: 800px;
	height: 600px;
	display: block;
}

.il-layout-page-metabar {
	height: 120px;
	clear: both;

}

.il-layout-page-sidebar {
	width: @triggerer_width;

	.sidebar-triggers {
		width: @triggerer_width;
		float: left;
	}
	.sidebar-slates {
		background-color: #fefefe;
		height: 100%;
		float: left;
		display:none;
	}

	&.with-engaged-slates {
		width: @slate_width + @triggerer_width;
		.sidebar-slates {
			width: @slate_width;
			display: block;
		}
	}
}


.il-layout-page-content {
	display: flex;
	border: 1px solid black;
	padding: 5px;
	margin-left: 5px;
}
