@bg-slate-collapsed: #eee;
@bg-slate-expanded: #ebe8c0;

.il-maincontrol-menu-slate {
 	&.engaged {
 		display:block;
 	}
 	&.disengaged {
 		display:none;
 	}
}

.il-maincontrol-menu-plank {
	display: block;
	font-size: 90%;
	list-style: none;
	margin: 0 0 2px 0;
	padding: 0;
	li {
		background: @bg-slate-collapsed;
		padding: 10px 0 10px 20px;
		&.collapsed {
			> .plank-glyph-expand {
				display: inline;
			}
			> .plank-glyph-collapse {
				display: none;
			}
			> .plank-elements {
				display: none;
			}

		}

		&.expanded {
			background: @bg-slate-expanded;
			> .plank-glyph-expand {
				display: none;
			}
			> .plank-glyph-collapse {
				display: inline;
			}
			> .plank-elements {
				display: block;
			}
		}

		ul {
		    margin-left: -20px;
		}
	}

}
