@bg-slate-collapsed: #f2f2f2;
@bg-slate-expanded: #ebe8c0;
@menu-divider: 0px solid #eee;

.il-maincontrol-menu-slate {
 	&.engaged {
 		display:block;
 	}
 	&.disengaged {
 		display:none;
 	}
}

.il-maincontrol-menu-plank {
	border-bottom: @menu-divider;
	background: @bg-slate-collapsed;
	display: flex;
	flex-flow: column;
	font-size: 90%;
	list-style: none;
	margin: 0 0 2px 0;
	padding: 10px 20px;
	&:first-child {
		border-top: @menu-divider;
	}
}

.il-maincontrol-menu-slate-content {
    display: grid;
}

.il-maincontrol-menu-slate-close,
.il-maincontrol-menu-slate-back {
	button {
		background-color: transparent;
	}
}


.il-maincontrol-menu-slate-close {
	align-self: flex-end;
	.iconographic-label {
		display: none;
	}
}